
:root{
       --col-black: #0a0a23;
       --col-back: rgba( 100 , 100 , 0, 0.1 );
}

body{

    background-color: var(--col-back);
    overflow-x: hidden;

}

.header-main{

    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
    padding: 10px;
    font-weight: 100;
    color: rgba( 255,255, 255, 1 );
    text-align: center;
    background-color: var(--col-black);

}

@media (max-width: 550px){
    .header-main{

        position: absolute;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        
    }
}

nav{

    width: 23vw;
    position: fixed;
    top: 54px;
    left: 0; 
    height: 100%;
    border-right:2px solid black;
    border-top: 2px solid black;
}

nav header{

    font-size: 25px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba( 100 , 100 , 0, 0.0 );
    box-sizing: border-box;
    color: var(--col-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
   

}

nav ul{

    width: 100%;
    padding: 0;
    margin-top: 60px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

}

nav li{

    list-style: none;
    border-top:1px solid black;
    height: 70px;
    position: relative;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 20px;
    padding-left: 30px;
}

nav a{

    text-decoration: none;
    color: rgba(0,0,0,0.8);

}

@media (max-width: 550px){
    nav{

        position: absolute; 
        top: 60px;
        left: 30px;
        right: auto;
        height: 300px;
        width: 80%;
        border: 2px solid black;
    }

    nav ul{
        max-height: 80%;
    }
}

#main-doc{
    padding-top: 60px;
}

#main-doc .main-section{

    margin: 20px 0px 0px auto;
    width: 76vw;
    padding: 1px;
    box-sizing: border-box;
}

#main-doc .main-section header{
    position: relative;
    height: 15%;
    width: 100%;
    background-color: rgba( 0,0,0,0);
    box-sizing: border-box;
    padding: 0px 0px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 40px;
    color: black;
}
#main-doc .main-section p{

    text-align: left;
    font-size: 20px;
    margin: 20px 0px 0px 40px;
    line-height: 1.2;
    padding: 0;
    

}




.code-div{

    margin: 20px 0px 0px 40px;
    background-color: rgba( 100 , 100 , 0, 0.2 );
    width: 100%;
    font-size: 20px;
    padding: 20px;
    font-weight: 100;
    line-height: 1.5;
    box-sizing: border-box;
}

@media (max-width: 550px){

    #main-doc{
        padding-top: 400px;
    }
    #main-doc .main-section{

        width: 100%;
        margin-top: 30px;
        


    }
    #main-doc .main-section header{

        padding: 0px 0px 0px 20px;
        align-items: center;
        
    }
    #main-doc .main-section p{

        margin-left: 20px;
    }
    .code-div{
        margin-left: auto;
        margin-right: auto;
    }

}